{{> head}}
{{> navbar}}

<div class="row">
    <div class="col-8">
        <h1>Aphee</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus nobis corporis deserunt nulla quaerat quas
            nihil tempora eum deleniti ad tenetur, minima nostrum beatae veritatis provident nam minus dolor qui.</p>
    </div>

    <div class="col-4">
        <img src="assets/img/aphee logo.png" alt="Aphee-logo" class="img-thumbnail">
    </div>
</div>

{{> footer}}